<!-- <button onClick = "stop()" >Stop</button> -->
<div class = "container level" style = "height:500px;padding-top:17px">
  <p id = "space" style = "margin-top: 326px; margin-left: 0px">
    <!-- <img alt = "Rails" id = "mario" src="assets/marioStandRight.png" style = "width:55px;height:77px"/> -->
    <%= image_tag "marioStandRight.png", alt: "Rails", id: "mario", style: "width:55px;height:77px;"  %>
  </p>
<div>

 <div style = "height:70px"></div>
 <p>controls: <- , -> , space(to jump)</p>