<!-- <button onClick = "stop()" >Stop</button> -->
<div class = "container" style = "background-image: url('assets/marioLevel.png'); height:500px;padding-top:17px">
<p id = "space" style = "margin-top: 326px; margin-left: 0px"><img alt = "Rails" id = "mario" src="assets/marioStandRight.png" style = "width:55px;height:77px"/></p>
<div>
<!-- <p>
<button onClick = "jumpLeft()">Jump Left</button>
<button onClick = "jump()">Jump</button>
<button onClick = "jumpRight()">Jump Right</button>
</p>
<p>_____
<button onMousedown = "left()" onMouseUp = "stop()">Left</button>     __
<button onMousedown = "right()" onMouseUp = "stop()">Right</button>
</p>


 -->
 <div style = "height:70px"></div>
 <p>controls: <- , -> , space(to jump)</p>