<!-- <button onClick = "stop()" >Stop</button> -->
<p id = "space" style = "margin-top: 300px; margin-left: 0px"><img alt = "Rails" id = "mario" src="assets/marioStandRight.png" style = "width:75px;height:105px"/></p>
<p>
<button onMousedown = "left()" onMouseUp = "stop()">Left</button>
<button onClick = "jumpLeft()">Jump Left</button>
<button onClick = "jump()">Jump</button>
<!-- <button onClick = "jump2()">Jump2</button> -->
<button onClick = "jumpRight()">Jump Right</button>
<button onMousedown = "right()" onMouseUp = "stop()">Right</button>
</p>